# Ignore virtual environment directories
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Git repository files
.git/
.gitignore

# Ignore other unnecessary files
.DS_Store
*.log
*.tmp

# Ignore the output directory
scBONITA/output
input/